# List

### 1. Concatenate two lists index-wise

In [1]:
#Input
list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]

Expected Output

    ['My', 'name', 'is', 'Kelly']

In [1]:
#Solution

### 2. Concatenate two lists in the following order

In [27]:
#Input
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

Expected Output

		['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [2]:
#Solution

### 3. Given a nested list extend it with adding sub list ["h", "i", "j"] in a such a way that it will look like the following list

In [29]:
#Input
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
subList = ["h", "i", "j"]

Expected Output

		['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [3]:
#Solution

# Dictionary

### 1. Below are the two lists convert it into the dictionary

In [31]:
#Input
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

Expected Output

		{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [4]:
#Solution

### 2. Create a new dictionary by extracting the following keys from a given dictionary

In [35]:
#Input
sampleDict = {
		  "name": "Kelly",
		  "age":25,
		  "salary": 8000,
		  "city": "New york"
		  
		}

#Keys to extract
keys = ["name", "salary"]

Expected Output

		{'name': 'Kelly', 'salary': 8000}

In [5]:
#Solution

# Set

### 1. Swap the following two tuples

In [37]:
#Input
tuple1 = (11, 22)
tuple2 = (99, 88)

Expected Output

		tuple1 = (99, 88)
		tuple2 = (11, 22)

In [6]:
#Solution